*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgba(244, 162, 97, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-decoration: none;
  font-size: 1.4rem;
  color: #2A9D8F;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.heading--primary {
  font-size: 2.4rem;
  color: rgba(42, 157, 143, 0.85);
  letter-spacing: 0.4rem;
}

.heading--background {
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 6.4rem;
  color: rgba(42, 157, 143, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 37.5em) {
  .heading--background {
    top: 5%;
  }
}

@media only screen and (max-width: 31.25em) {
  .heading--background {
    font-size: 5.4rem;
  }
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 10rem 2rem 2rem 2rem;
}

.image-gallery {
  margin-top: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1.5rem;
      grid-template-areas: "img-1 img-2 img-3 img-3" "img-1 img-4 img-5 img-6" "img-7 img-7 img-8 img-6" "img-9 img-9 img-10 img-11" "img-9 img-9 img-12 img-13" "img-14 img-14 img-15 img-15" "img-16 img-17 img-18 img-19" "img-16 img-17 img-18 img-19" "img-20 img-21 img-22 img-23" "img-20 img-21 img-22 img-23";
}

@media only screen and (max-width: 56.25em) {
  .image-gallery {
        grid-template-areas: "img-1 img-1 img-2 img-2" "img-1 img-1 img-3 img-3" "img-4 img-4 img-5 img-5" "img-6 img-7 img-7 img-7" "img-8 img-8 img-8 img-8" "img-9 img-9 img-9 img-9" "img-10 img-10 img-11 img-11" "img-12 img-12 img-13 img-13" "img-14 img-14 img-14 img-14" "img-15 img-15 img-15 img-15" "img-16 img-16 img-18 img-18" "img-16 img-16 img-18 img-18" "img-17 img-17 img-19 img-19" "img-17 img-17 img-19 img-19" "img-20 img-20 img-21 img-21" "img-20 img-20 img-21 img-21" "img-22 img-22 img-23 img-23" "img-22 img-22 img-23 img-23";
  }
}

@media only screen and (max-width: 37.5em) {
  .image-gallery {
        grid-template-areas: "img-1 img-1 img-1 img-1" "img-2 img-2 img-2 img-2" "img-3 img-3 img-3 img-3" "img-4 img-4 img-4 img-4" "img-5 img-5 img-5 img-5" "img-6 img-6 img-6 img-6" "img-7 img-7 img-7 img-7" "img-8 img-8 img-8 img-8" "img-9 img-9 img-9 img-9" "img-10 img-10 img-10 img-10" "img-11 img-11 img-11 img-11" "img-12 img-12 img-12 img-12" "img-13 img-13 img-13 img-13" "img-14 img-14 img-14 img-14" "img-15 img-15 img-15 img-15" "img-16 img-16 img-16 img-16" "img-17 img-17 img-17 img-17" "img-18 img-18 img-18 img-18" "img-19 img-19 img-19 img-19" "img-20 img-20 img-20 img-20" "img-21 img-21 img-21 img-21" "img-22 img-22 img-22 img-22" "img-23 img-23 img-23 img-23";
  }
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

@media only screen and (max-width: 56.25em) {
  .image-gallery a {
    height: 20rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .image-gallery a {
    height: 30rem;
  }
}

.image-gallery a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.image-gallery a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
  opacity: 1;
}

.img-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img-1;
  min-height: 51.5rem;
  background-image: url("../img/work (10).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-1 {
    min-height: 41.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-1 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.img-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-2;
  background-image: url("../img/work (7).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-2 {
    margin-bottom: 3rem;
  }
}

.img-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img-3;
  background-image: url("../img/work (11).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-3 {
    margin-bottom: 3rem;
  }
}

.img-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img-4;
  background-image: url("../img/work (1).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-4 {
    margin-bottom: 3rem;
  }
}

.img-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img-5;
  background-image: url("../img/work (2).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-5 {
    margin-bottom: 3rem;
  }
}

.img-6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: img-6;
  min-height: 51.5rem;
  background-image: url("../img/work (3).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-6 {
    min-height: 20rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-6 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.img-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-7;
  background-image: url("../img/work (8).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-7 {
    margin-bottom: 3rem;
  }
}

.img-8 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img-8;
  background-image: url("../img/work (5).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-8 {
    margin-bottom: 3rem;
  }
}

.img-9 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-9;
  min-height: 51.5rem;
  background-image: url("../img/work (4).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-9 {
    margin-bottom: 3rem;
  }
}

.img-10 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: img-10;
  background-image: url("../img/work (6).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-10 {
    margin-bottom: 3rem;
  }
}

.img-11 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: img-11;
  background-image: url("../img/work (9).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-11 {
    margin-bottom: 3rem;
  }
}

.img-12 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: img-12;
  background-image: url("../img/work (18).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-12 {
    margin-bottom: 3rem;
  }
}

.img-13 {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: img-13;
  background-image: url("../img/work (19).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-13 {
    margin-bottom: 3rem;
  }
}

.img-14 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-14;
  background-image: url("../img/work (13).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-14 {
    margin-bottom: 3rem;
  }
}

.img-15 {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img-15;
  background-image: url("../img/work (14).jpeg");
}

@media only screen and (max-width: 37.5em) {
  .img-15 {
    margin-bottom: 3rem;
  }
}

.img-16 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img-16;
  min-height: 51.5rem;
  background-image: url("../img/work (15).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-16 {
    min-height: 41.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-16 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.img-17 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img-17;
  min-height: 51.5rem;
  background-image: url("../img/work (17).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-17 {
    min-height: 41.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-17 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.img-18 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: img-18;
  min-height: 51.5rem;
  background-image: url("../img/work (20).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-18 {
    min-height: 41.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-18 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.img-19 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: img-19;
  min-height: 51.5rem;
  background-image: url("../img/work (21).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-19 {
    min-height: 41.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-19 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.img-20 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img-20;
  min-height: 51.5rem;
  background-image: url("../img/work (22).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-20 {
    min-height: 41.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-20 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.img-21 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img-21;
  min-height: 51.5rem;
  background-image: url("../img/work (23).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-21 {
    min-height: 41.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-21 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.img-22 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: img-22;
  min-height: 51.5rem;
  background-image: url("../img/work (25).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-22 {
    min-height: 41.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-22 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.img-23 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: img-23;
  min-height: 51.5rem;
  background-image: url("../img/work (26).jpeg");
}

@media only screen and (max-width: 56.25em) {
  .img-23 {
    min-height: 41.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .img-23 {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}

.team {
  margin: 5rem;
  padding: 2.5rem;
}

.team__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem 0;
}

.team__div--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.team__message {
  font-size: 1.4rem;
  word-spacing: 2.5px;
  color: #264653;
  font-weight: 700;
}

.team__name {
  font-size: 1.7rem;
  font-weight: bolder;
  color: #2a9d8f;
}

.team__img {
  height: 25rem;
  margin: 0 2rem;
  outline: #e76f51 solid 6px;
}
/*# sourceMappingURL=work.css.map */